*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body_container{
    width: 100%;
    height: 100%;
}

.container{
    max-width: 95vh;
    padding: 2rem 1rem; 
    /*  from top bottom and left right  */
    margin: 0 auto;
    /* background-color: aqua; */
}

